#main-navbar {
  background-color: navy;
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
}
#main-navbar ul li a:hover {
  text-decoration: solid underline black 4px;
}
#onpage {
  background-color: blue;
}
/* Above is all navigation */
h1 {
  font-size: 2.25em;
}
.centered {
  text-align: center;
}
p, h4{
  font-size: 1.15em;
}
#fixedcontainer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: 100px;
}
#fixedcontainer h2 {
  text-transform: uppercase;
  font-size: 1.3em;
}
#fluidcontainer {
  width:100%
  position: relative;
  padding: 0 30px;
}
blockquote {
  padding: 5px 0;
  font-family: 'Fondamento', cursive;
}
#media {
  display: block;
  margin: 10px auto;
  height: auto;
  max-width: 60%;
}