#main-navbar {
  background-color: navy;
  overflow: hidden;
  font-size: 1.25em;
  font-family: tahoma, sans-serif;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: solid underline black 4px;
}
#onpage {
  background-color: blue;
}
/* Above is all navigation */
.centered {
  text-align: center;
}
h1 {
  font-size: 2.25em;
}
p, h4 {
  font-size: 1.15em;
}
#fixedcontainer ul li, p {
  line-height: 25px;
}
#cursivefont, h4 {
  margin: 0;
}
#fixedcontainer {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  left: 100px;
  font-family: tahoma, sans-serif;
}
#fixedcontainer h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 20px;
}
#fluidcontainer {
  width:100%
  position: relative;
  padding: 0 30px;
}
#fluidcontainer h1{
  margin: 0;
  padding: 20px 0;
}
#cursivefont, blockquote {
  font-family: 'Fondamento', cursive;
}
#cursivefont {
  padding: 20px 0 0 0;
  font-size: 2em;
}
blockquote {
  padding: 5px 0;
  font-size: 1.25em;
}
#media {
  display: block;
  margin: 10px auto;
  height: auto;
  max-width: 60%;
}
#lyricscontent-wrapper {
  background-color: burlywood;
}
#lyricscontent-wrapper h1 {
  border: solid peru 10px;
  background-color: wheat;
}
#lyricscontent-wrapper p {
  font-size: 1.3em;
}
#farmcontent-wrapper {
  font-family: 'sh_pinscherregular';
  font-size: 1.5em;
  font-weight: 500;
  background-color: limegreen;
}
#farmcontent-wrapper p {
  line-height: 30px;
}
#farmcontent-wrapper h1 {
  border: solid brown 10px;
  background-color: gold;
}